$color-primary: hsl(322, 100%, 66%);
$color-light:hsl(193, 100%, 96%);
$color-dark: hsl(192, 100%, 9%);
$color-gray: hsl(208, 11%, 55%);

// Fonts
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Poppins', sans-serif;
